[Unit]
Description=Automate Systems License Plate Recognition Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/AMSLPR
ExecStart=/usr/bin/python3 /home/pi/AMSLPR/src/main.py
Restart=on-failure
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=amslpr

[Install]
WantedBy=multi-user.target
